PORT=8000
CORS_ORIGIN=http://localhost:3000

DATABASE_URL=postgresql://neondb_owner:npg_UIx5jgo7MWhc@ep-blue-dust-aknoygfl-pooler.c-3.us-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=ghgbcsdfdgsferdgverdgf
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_SECRET=sdfasdfasfdasdfasdfs
JWT_REFRESH_EXPIRES=7d

GOOGLE_CLIENT_ID=

SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
